In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("C:/Users/HP/Downloads/kdramas/all_series.csv")
df1.head(1)

,tmdb_id,name,original_name,keywords,airing_date,poster_img_url,background_img_url,directors_ids,cast_ids,genres_ids,...,episode_run_time,synopsis,popularity,average_rating,rating_count,next_episode_to_air,next_episode_air_date,origin_country,networks_ids,production_companies_ids
0,136699,Glitch,글리치,"friendship, investigation, ufo, miniseries, su...",2022-10-07,https://image.tmdb.org/t/p/original/dspwDOosid...,https://image.tmdb.org/t/p/original/3O5voBAoeQ...,1293597,"2067860, 1523043, 1418580, 2239782, 150697, 17...","18, 35, 9648, 10765",...,54.0,A young woman joins forces with a UFO enthusia...,520.913,7.7,22.0,NaN,NaN,KR,213,133335

In [3]:
df1 = df1.drop(['original_name','airing_date','background_img_url','number_of_seasons','number_of_episodes','episode_run_time','popularity','average_rating','rating_count','next_episode_to_air','next_episode_air_date','origin_country','networks_ids','production_companies_ids'],axis='columns')
df1.head(1)

,tmdb_id,name,keywords,poster_img_url,directors_ids,cast_ids,genres_ids,synopsis
0,136699,Glitch,"friendship, investigation, ufo, miniseries, su...",https://image.tmdb.org/t/p/original/dspwDOosid...,1293597,"2067860, 1523043, 1418580, 2239782, 150697, 17...","18, 35, 9648, 10765",A young woman joins forces with a UFO enthusia...

In [4]:
df1.isnull().sum()

tmdb_id              0
name                 0
keywords           549
poster_img_url     101
directors_ids     1350
cast_ids            30
genres_ids           0
synopsis            83
dtype: int64

In [5]:
df1 = df1.dropna()

In [6]:
df1.shape

(131, 8)

In [7]:
dir_name = pd.read_csv("C:/Users/HP/Downloads/kdramas/people.csv")
dir_name.head(1)

,tmdb_id,name,biography,place_of_birth,birthday,deathday,gender,known_for_department,popularity,profile_img_url
0,1257661,Lee El,"Kim Ji-hyun, better known by her stage name EL...","Seoul, South Korea",1982-08-26,NaN,1.0,Acting,10.688,https://image.tmdb.org/t/p/original/cXG6IcCaqt...

In [8]:
dir_name = dir_name.drop(['biography','place_of_birth','birthday','deathday','gender','known_for_department','popularity','profile_img_url'],axis='columns')
dir_name.head(2)

   tmdb_id         name
0  1257661       Lee El
1  2097078  Jeon Jin-gi

In [9]:
x=1257661
dir_name.loc[dir_name['tmdb_id']==x,"name"].item()

'Lee El'

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131 entries, 0 to 1374
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tmdb_id         131 non-null    int64
 1   name            131 non-null    object
 2   keywords        131 non-null    object
 3   poster_img_url  131 non-null    object
 4   directors_ids   131 non-null    object
 5   cast_ids        131 non-null    object
 6   genres_ids      131 non-null    object
 7   synopsis        131 non-null    object
dtypes: int64(1), object(7)
memory usage: 9.2+ KB

In [11]:
no = df1['directors_ids']
no

0       1293597
1       1182291
2       1294471
5       1724565
6        939147
         ...
1123     117498
1153    3527566
1323    1764050
1330    1902848
1374    3192063
Name: directors_ids, Length: 131, dtype: object

In [12]:
df1['directors_ids'] = df1['directors_ids'].apply(lambda x: list(x.split(",")))

In [13]:
df1.head(1)

,tmdb_id,name,keywords,poster_img_url,directors_ids,cast_ids,genres_ids,synopsis
0,136699,Glitch,"friendship, investigation, ufo, miniseries, su...",https://image.tmdb.org/t/p/original/dspwDOosid...,[1293597],"2067860, 1523043, 1418580, 2239782, 150697, 17...","18, 35, 9648, 10765",A young woman joins forces with a UFO enthusia...

In [14]:
def change(num):
    list1=[]
    for i in num:
      list1.append(dir_name.loc[dir_name['tmdb_id']==int(i),"name"].item())
    return list1
#Lee El
#Jeon Jin-gi
list_demo = ['1257661','2097078']
change(list_demo)

['Lee El', 'Jeon Jin-gi']

In [15]:
x = df1['directors_ids'][0]
df1['directors_ids'] = df1.directors_ids.apply(change)

In [16]:
df1.head(3)

,tmdb_id,name,keywords,poster_img_url,directors_ids,cast_ids,genres_ids,synopsis
0,136699,Glitch,"friendship, investigation, ufo, miniseries, su...",https://image.tmdb.org/t/p/original/dspwDOosid...,[Roh Deok],"2067860, 1523043, 1418580, 2239782, 150697, 17...","18, 35, 9648, 10765",A young woman joins forces with a UFO enthusia...
1,99966,All of Us Are Dead,"high school, bullying, based on comic, horror,...",https://image.tmdb.org/t/p/original/pTEFqAjLd5...,[JQ Lee],"2125084, 1493898, 2185341, 2074587, 2402531, 1...","10759, 18, 10765",A high school becomes ground zero for a zombie...
2,93405,Squid Game,"secret organization, challenge, survival, fict...",https://image.tmdb.org/t/p/original/dDlEmu3EZ0...,[Hwang Dong-hyuk],"73249, 1593672, 3194501, 1557181, 1048070, 191...","10759, 9648, 18",Hundreds of cash-strapped players accept a str...

In [17]:
df1['cast_ids'] = df1['cast_ids'].apply(lambda x: list(x.split(",")))

In [18]:
df1['cast_ids'][0]

['2067860',
 ' 1523043',
 ' 1418580',
 ' 2239782',
 ' 150697',
 ' 1747532',
 ' 181332',
 ' 1511024',
 ' 3138793',
 ' 1605872',
 ' 2120094',
 ' 2758995',
 ' 2878492',
 ' 1572347',
 ' 2003804',
 ' 939133',
 ' 2098630',
 ' 2840538',
 ' 2124185']

In [19]:
def change(num):
    list1=[]
    j=0
    for i in num:
        if(j<3):
            list1.append(dir_name.loc[dir_name['tmdb_id']==int(i),"name"].item())
            j +=1
    return list1
#Lee El
#Jeon Jin-gi
list_demo = [2067860, 1523043, 1418580, 2239782]
change(list_demo)

['Jeon Yeo-been', 'Nana', 'Lee Dong-hwi']

In [20]:
df1['cast_ids'] = df1.cast_ids.apply(change)

In [21]:
df1.genres_ids[0]

'18, 35, 9648, 10765'

In [22]:
gen_name = pd.read_csv("C:/Users/HP/Downloads/kdramas/genres.csv")
gen_name.head()

   tmdb_id                name
0       18               Drama
1       35              Comedy
2     9648             Mystery
3    10765    Sci-Fi & Fantasy
4    10759  Action & Adventure

In [23]:
def change(num):
    list1=[]
    for i in num:
        list1.append(gen_name.loc[gen_name['tmdb_id']==int(i),"name"].item())
    return list1
#Lee El
#Jeon Jin-gi
list_demo = [18, 35, 9648, 10765]
change(list_demo)

['Drama', 'Comedy', 'Mystery', 'Sci-Fi & Fantasy']

In [24]:
df1['genres_ids'] = df1['genres_ids'].apply(lambda x: list(x.split(",")))

In [25]:
df1.head()

,tmdb_id,name,keywords,poster_img_url,directors_ids,cast_ids,genres_ids,synopsis
0,136699,Glitch,"friendship, investigation, ufo, miniseries, su...",https://image.tmdb.org/t/p/original/dspwDOosid...,[Roh Deok],"[Jeon Yeo-been, Nana, Lee Dong-hwi]","[18, 35, 9648, 10765]",A young woman joins forces with a UFO enthusia...
1,99966,All of Us Are Dead,"high school, bullying, based on comic, horror,...",https://image.tmdb.org/t/p/original/pTEFqAjLd5...,[JQ Lee],"[Park Ji-hu, Yoon Chan-young, Cho Yi-hyun]","[10759, 18, 10765]",A high school becomes ground zero for a zombie...
2,93405,Squid Game,"secret organization, challenge, survival, fict...",https://image.tmdb.org/t/p/original/dDlEmu3EZ0...,[Hwang Dong-hyuk],"[Lee Jung-jae, Park Hae-soo, Jung Ho-yeon]","[10759, 9648, 18]",Hundreds of cash-strapped players accept a str...
5,67915,Goblin,"romance, super power, past life, immortal",https://image.tmdb.org/t/p/original/c2gon6zbqz...,[Lee Eung-bok],"[Gong Yoo, Kim Go-eun, Lee Dong-wook]","[18, 10765]",In his quest for a bride to break his immortal...
6,106651,Hellbound,"hell, cult, based on cartoon, supernatural cre...",https://image.tmdb.org/t/p/original/5NYdSAnDVI...,[Yeon Sang-ho],"[Yoo Ah-in, Kim Hyun-joo, Park Jeong-min]","[18, 80, 10765]","Unearthly beings deliver bloody condemnations,..."

In [26]:
df1['genres_ids'] = df1.genres_ids.apply(change)

In [27]:
df1.poster_img_url[0]

'https://image.tmdb.org/t/p/original/dspwDOosidQT85oPDDHMM9zmaLw.jpg'

In [28]:
df1['synopsis'][0]

'A young woman joins forces with a UFO enthusiast to investigate her boyfriend’s sudden disappearance and stumbles into a wild conspiracy.'

In [29]:
df1['synopsis'] = df1['synopsis'].apply(lambda x : list(x.split(" ")))

In [30]:
df1['keywords'] = df1['keywords'].apply(lambda x : list(x.split(",")))

In [31]:
df1['keywords'] = df1['keywords'].apply(lambda x : [i.replace(" ","") for i in x])

In [32]:
df1['cast_ids'] = df1['cast_ids'].apply(lambda x : [i.replace(" ","") for i in x])
df1['directors_ids'] = df1['directors_ids'].apply(lambda x : [i.replace(" ","") for i in x])
df1['genres_ids'] = df1['genres_ids'].apply(lambda x : [i.replace(" ","") for i in x])

In [33]:
df1['tags'] = df1['synopsis'] + df1['cast_ids'] + df1['directors_ids'] + df1['genres_ids'] + df1['keywords']

In [34]:
df1['tags'].head(1)

0    [A, young, woman, joins, forces, with, a, UFO,...
Name: tags, dtype: object

In [35]:
new_df = df1[['tmdb_id','poster_img_url','name','tags']]

In [36]:
df1.shape

(131, 9)

In [37]:
new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))

C:\Users\HP\AppData\Local\Temp/ipykernel_6404/3530946481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))

In [38]:
new_df['tags'][0]

'A young woman joins forces with a UFO enthusiast to investigate her boyfriend’s sudden disappearance and stumbles into a wild conspiracy. JeonYeo-been Nana LeeDong-hwi RohDeok Drama Comedy Mystery Sci-Fi&Fantasy friendship investigation ufo miniseries suspense'

In [39]:
new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

C:\Users\HP\AppData\Local\Temp/ipykernel_6404/3679624391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

In [40]:
new_df.name[0:10]

0                         Glitch
1             All of Us Are Dead
2                     Squid Game
5                         Goblin
6                      Hellbound
7              Business Proposal
8     Extraordinary Attorney Woo
14                  Little Women
20                       My Name
21                The Silent Sea
Name: name, dtype: object

In [41]:
new_df.reset_index(drop=True, inplace=True)

In [42]:
new_df

,tmdb_id,poster_img_url,name,tags
0,136699,https://image.tmdb.org/t/p/original/dspwDOosid...,Glitch,a young woman joins forces with a ufo enthusia...
1,99966,https://image.tmdb.org/t/p/original/pTEFqAjLd5...,All of Us Are Dead,a high school becomes ground zero for a zombie...
2,93405,https://image.tmdb.org/t/p/original/dDlEmu3EZ0...,Squid Game,hundreds of cash-strapped players accept a str...
3,67915,https://image.tmdb.org/t/p/original/c2gon6zbqz...,Goblin,in his quest for a bride to break his immortal...
4,106651,https://image.tmdb.org/t/p/original/5NYdSAnDVI...,Hellbound,"unearthly beings deliver bloody condemnations,..."
...,...,...,...,...
126,118931,https://image.tmdb.org/t/p/original/3fqu5NZEpN...,How to Be Thirty,“how to be thirty” will be a relatable romance...
127,199923,https://image.tmdb.org/t/p/original/brjI8zYGLs...,Ocean Likes Me,ocean like me' is a healing food romance betwe...
128,78011,https://image.tmdb.org/t/p/original/br5bVmklHe...,Amnok River Flows,this drama portrays the turbulent life of lee ...
129,112486,https://image.tmdb.org/t/p/original/b7wLXWOdey...,Big Bet,a man's turbulent life in the casino business....
130,195743,https://image.tmdb.org/t/p/original/2xbkLAQnNF...,Recipe for Farewell,chang rae is in his 40's. he works as a transl...

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [44]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [45]:
cv.get_feature_names()

['000',
 '05',
 '10',
 '100',
 '13',
 '15',
 '18',
 '1885',
 '19',
 '1900s',
 '1930',
 '1930s',
 '1970s',
 '1975',
 '1980s',
 '1987',
 '1990',
 '1990s',
 '1997',
 '19th',
 '20',
 '2000',
 '2001',
 '2002',
 '2005',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2070s',
 '21',
 '24',
 '25',
 '28',
 '29',
 '30',
 '30s',
 '31',
 '33',
 '35',
 '350',
 '40',
 '41',
 '49',
 '55',
 '5th',
 '60th',
 '70',
 '939',
 '999',
 'abandoned',
 'abducted',
 'abiding',
 'ability',
 'able',
 'absolute',
 'abuseofpower',
 'academic',
 'accept',
 'access',
 'accident',
 'accidentally',
 'acclaimed',
 'accomplished',
 'accused',
 'achieve',
 'achieved',
 'acting',
 'action',
 'actor',
 'actors',
 'actress',
 'actual',
 'actually',
 'adaptation',
 'addicted',
 'adequate',
 'adopted',
 'adulthood',
 'adventure',
 'adventures',
 'adversity',
 'ae',
 'afar',
 'affect',
 'affiliate',
 'affiliated',
 'afterlife',
 'aftermath',
 'age',
 'agechange',
 'aged',
 'agency',
 'agent',
 'ago',
 'agreement',
 'agrees',
 'ah',
 'ahn',
 'ahnbo',
 'ahngil',
 'ahnhyo',
 'ahnjae',
 'ahnnae',
 'ahnsang',
 'aired',
 'airplane',
 'airplaneaccident',
 'ajumma',
 'aka',
 'alleys',
 'ambassador',
 'ambitions',
 'america',
 'amidst',
 'amnesia',
 'ancient',
 'ancientkorea',
 'angel',
 'anniversary',
 'announce',
 'anthology',
 'antisocial',
 'antisocialpersonalitydisorder',
 'apart',
 'apocalypse',
 'apocalypticfuture',
 'app',
 'appealing',
 'appear',
 'appearance',
 'appears',
 'appliance',
 'appointed',
 'april',
 'archaeologist',
 'area',
 'arrogant',
 'art',
 'arth',
 'arthdal',
 'artificialintelligence',
 'artist',
 'artistic',
 'arts',
 'asahi',
 'ashley',
 'asian',
 'asks',
 'aspects',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assembly',
 'assistant',
 'assumes',
 'athelete',
 'attempted',
 'attempting',
 'attempts',
 'attend',
 'attorney',
 'attraction',
 'attractive',
 'audience',
 'audiences',
 'author',
 'authors',
 'autism',
 'autistic',
 'autobiographical',
 'average',
 'averaging',
 'aversion',
 'awaits',
 'award',
 'awards',
 'away',
 'ba',
 'baby',
 'backdrop',
 'background',
 'bad',
 'bae',
 'baedoona',
 'baehae',
 'baehyeon',
 'baein',
 'baek',
 'baeksang',
 'baeksoo',
 'baeksung',
 'baesuzy',
 'baeyong',
 'baggage',
 'balances',
 'band',
 'banker',
 'bankruptcy',
 'bar',
 'bargain',
 'baseball',
 'baseballplayer',
 'based',
 'basedoncartoon',
 'basedoncomic',
 'basedonmovie',
 'basedonnovelorbook',
 'basedonshortfilm',
 'basedontruestory',
 'basedonwebcomicorwebtoon',
 'battle',
 'battlefield',
 'bawdy',
 'beach',
 'bead',
 'beauty',
 'begin',
 'begins',
 'behindthescenes',
 'beings',
 'bekhyun',
 'beliefs',
 'believe',
 'believed',
 'believes',
 'beloved',
 'benefits',
 'beom',
 'best',
 'bestselling',
 'bestsellingauthor',
 'betrayal',
 'better',
 'big',
 'biggest',
 'billion',
 'bin',
 'biography',
 'birth',
 'bits',
 'bitter',
 'bizarre',
 'bl',
 'black',
 'blind',
 'blinddate',
 'blindness',
 'bliss',
 'blood',
 'bloody',
 'blunt',
 'bodies',
 'body',
 'bodyguard',
 'bok',
 'bomb',
 'bona',
 'bond',
 'bong',
 'boosting',
 'born',
 'borrows',
 'boss',
 'bossam',
 'bountyhunter',
 'bowel',
 'boxer',
 'boy',
 'boyband',
 'boyfriend',
 'boys',
 'brain',
 'brainsurgery',
 'brawn',
 'break',
 'breaking',
 'bride',
 'bright',
 'brighter',
 'brilliant',
 'brink',
 'broadcast',
 'broke',
 'broken',
 'brokenpromise',
 'bromance',
 'brother',
 'brotherhood',
 'brothersisterrelationship',
 'buam',
 'buddha',
 'build',
 'building',
 'built',
 'bullied',
 'bullies',
 'bulling',
 'bullying',
 'burned',
 'busan',
 'business',
 'businessman',
 'butcher',
 'byeonwoo',
 'byul',
 'calculating',
 'called',
 'came',
 'camera',
 'campus',
 'campuslife',
 'campusromance',
 'cancer',
 'capture',
 'car',
 'caraccident',
 'card',
 'care',
 'career',
 'careers',
 'caregiver',
 'carrefour',
 'carry',
 'carrying',
 'case',
 'cases',
 'cash',
 'casino',
 'cassano',
 'castle',
 'catastrophe',
 'caught',
 'causes',
 'causing',
 'centering',
 'centers',
 'centuries',
 'ceo',
 'cha',
 'chae',
 'chaebol',
 'chaejong',
 'chaejung',
 'chain',
 'chairman',
 'chajaedol',
 'challenge',
 'challenges',
 'chan',
 'chance',
 'chang',
 'change',
 'changes',
 'changryul',
 'chaos',
 'chaotic',
 'character',
 'characterdevelopment',
 'charae',
 'charisma',
 'charismaticfemalelead',
 'charm',
 'chart',
 'chased',
 'chaste',
 'cheating',
 'chef',
 'cheol',
 'cheom',
 'cheon',
 'chief',
 'child',
 'childabuse',
 'childhood',
 'childhoodfriends',
 'childhoodtrauma',
 'children',
 'china',
 'cho',
 'choechanyi',
 'chohyuk',
 'choi',
 'choice',
 'choihang',
 'choijung',
 'choimin',
 'choimoon',
 'choisoo',
 'choiwoo',
 'choiyeo',
 'choiyoung',
 'chojae',
 'chojung',
 'chomin',
 'chonam',
 'chooja',
 'choose',
 'chooyoung',
 'chorong',
 'chosen',
 'choseong',
 'choyi',
 'chu',
 'chul',
 'chun',
 'chung',
 'chunwoo',
 'cinderella',
 'cinematography',
 'circus',
 'city',
 'civil',
 'clad',
 'claims',
 'class',
 'classified',
 'classmate',
 'classmates',
 'cliff',
 'close',
 'closed',
 'closer',
 'clothing',
 'clown',
 'club',
 'clumsy',
 'coexist',
 'cohabitation',
 'cold',
 'collaboration',
 'collapse',
 'colleagues',
 'collection',
 'college',
 'collegelife',
 'colonial',
 'colorful',
 'coma',
 'come',
 'comeback',
 'comedy',
 'comes',
 'comfort',
 'comic',
 'coming',
 'comingofage',
 'commemorate',
 'commissioned',
 'committed',
 'common',
 'communicate',
 'communication',
 'community',
 'company',
 'compete',
 'competing',
 'competition',
 'complete',
 'completely',
 'complex',
 'complicated',
 'compromised',
 'comrades',
 'concern',
 'condemnations',
 'condition',
 'conflict',
 'conflicts',
 'confront',
 'confronts',
 'conglomerate',
 'congress',
 'connected',
 'connection',
 'consciousness',
 'consecutive',
 'consigliere',
 'conspiracy',
 'conspirators',
 'constantly',
 'consulting',
 'continue',
 'control',
 'controversial',
 'convenience',
 'convict',
 'cook',
 'cooking',
 'cooks',
 'cop',
 'core',
 'corner',
 'corporate',
 'corps',
 'corrupt',
 'corruption',
 'cosmetics',
 'cost',
 'costs',
 'couldn',
 'council',
 'countries',
 'country',
 'countryside',
 'coup',
 'couple',
 'court',
 'courtcase',
 'courtroom',
 'cover',
 'covered',
 'covers',
 'crash',
 'created',
 'creates',
 'creator',
 'crew',
 'crime',
 'crimes',
 'criminal',
 'critic',
 'critically',
 'critics',
 'cross',
 'crossdressing',
 'crossing',
 'cruelty',
 'cult',
 'culture',
 'curse',
 'customary',
 'customers',
 'cuts',
 'cutthroat',
 'cyberbully',
 'cynic',
 'cynical',
 'da',
 'dal',
 'dam',
 'dangerous',
 'dark',
 'darkfairytale',
 'date',
 'dating',
 'datingapp',
 'daughter',
 'dawoon',
 'day',
 'days',
 'dead',
 'deal',
 'dealing',
 'death',
 'deathmatch',
 'deathofabrother',
 'debut',
 'deceased',
 'december',
 'deception',
 'decides',
 'decommission',
 'dedicated',
 'deeply',
 'defamation',
 'defines',
 'degenerate',
 'delicate',
 'deliver',
 'demanding',
 'demands',
 'democratic',
 'deok',
 'depicts',
 'depression',
 'dermatologist',
 'designer',
 'desire',
 'desires',
 'desperate',
 'destroy',
 'detective',
 'determined',
 'develop',
 'developer',
 'develops',
 'deviate',
 'deviates',
 'did',
 'died',
 'dies',
 'different',
 'difficult',
 'difficulties',
 'difficulty',
 'digestive',
 'diligent',
 'dinner',
 'direction',
 'director',
 'directors',
 'dirty',
 'disappearance',
 'disapprovingparent',
 'disaster',
 'discharge',
 'disciple',
 'disconnection',
 'discover',
 'discovering',
 'discovers',
 'disease',
 'disguises',
 'dismissals',
 'disorder',
 'display',
 'dissociative',
 'dissociativeidentitydisorder',
 'district',
 'divine',
 'divorce',
 'divorcedman',
 'dj',
 'doctor',
 'doctors',
 'does',
 'doesn',
 'dogs',
 'dohkyung',
 'dong',
 'dongha',
 'donguibogam',
 'doo',
 'dormitory',
 'doubleidentity',
 'doubt',
 'downplaying',
 'drags',
 'drama',
 'dramatic',
 'draw',
 'drawn',
 'dream',
 'dreamed',
 'dreams',
 'driven',
 'drug',
 'drugdealer',
 'druglord',
 'dumpy',
 'dwi',
 'dying',
 'dynasty',
 'early',
 'earth',
 'earthquake',
 'easy',
 'eat',
 'eating',
 'eats',
 'eccentric',
 'eccentricmalelead',
 'eclectic',
 'economy',
 'education',
 'effort',
 'efforts',
 'ehwa',
 'electronics',
 'elevator',
 'elite',
 'eloquent',
 'emancipation',
 'emmy',
 'emotion',
 'emotional',
 'emotionalbreakdown',
 'emotions',
 'employed',
 'employee',
 'employeerelationship',
 'employees',
 'employer',
 'empress',
 'encaged',
 'end',
 'ends',
 'enemies',
 'enemy',
 'energy',
 'engaged',
 'engineer',
 'enigmatic',
 'enjoying',
 'ensnared',
 'ensuing',
 'ensure',
 'entangled',
 'enter',
 'entered',
 'enters',
 'entertainment',
 'entertainmentindustry',
 'enthusiast',
 'entranceexamination',
 'entrepreneur',
 'envies',
 'envisioned',
 'eom',
 'episode',
 'episodes',
 'epitome',
 'era',
 'error',
 'escape',
 'established',
 'eulji',
 'eum',
 'eun',
 'eunji',
 'events',
 'eventually',
 'everyday',
 'exactly',
 'examination',
 'excellent',
 'exchanged',
 'exhausted',
 'existence',
 'existing',
 'exorcism',
 'exorcist',
 'expands',
 'expansion',
 'expatriate',
 'expensive',
 'experience',
 'experienced',
 'experiences',
 'exploration',
 'explorers',
 'extraordinary',
 'extreme',
 'extremely',
 'eye',
 'faced',
 'faces',
 'facility',
 'facing',
 'fact',
 'factions',
 'facts',
 'failed',
 'failing',
 'fairy',
 'faith',
 'fakeidentity',
 'fall',
 'fallen',
 'falls',
 'false',
 'fame',
 'family',
 'familydrama',
 'familyrelationships',
 'fancy',
 'fantasy',
 'fantasyworld',
 'far',
 'fashion',
 'fate',
 'fateful',
 'father',
 'fatherdaughterrelationship',
 'fathers',
 'fathersonrelationship',
 'fault',
 'features',
 'february',
 'fee',
 'feel',
 'feelings',
 'feels',
 'fell',
 'fellow',
 'female',
 'femalecenteredplot',
 'femalefriendship',
 'femaleprotagonist',
 'femalewriter',
 'fencer',
 'fencing',
 'festival',
 'fi',
 'fiance',
 'fiancé',
 'fiancée',
 'fiction',
 'fictional',
 'fictionalgameshow',
 'field',
 'fifth',
 'fight',
 'fighter',
 'fighting',
 'fights',
 'figure',
 'figures',
 'figuring',
 'filled',
 'film',
 'finally',
 'financial',
 'financialcrisis',
 'finding',
 'finds',
 'fine',
 'fired',
 'firm',
 'firstlove',
 'fish',
 'flashback',
 'fled',
 'flirtatious',
 'flower',
 'focused',
 'focuses',
 'folk',
 'follow',
 'following',
 'follows',
 'food',
 'footsteps',
 'force',
 'forced',
 'forces',
 'forensic',
 'foresees',
 'forest',
 'form',
 'formerprisoner',
 'forms',
 'forth',
 'fought',
 'founded',
 'fox',
 'france',
 'fraud',
 'free',
 'freedom',
 'friend',
 'friendly',
 'friends',
 'friendship',
 'friendstolovers',
 'frightened',
 'frosty',
 'frozen',
 'fulfillment',
 'funeral',
 'fusion',
 'future',
 'gain',
 'gam',
 'gambles',
 'game',
 'games',
 'gang',
 'gangnam',
 'gangnamscandal',
 'gangs',
 'gangster',
 'gathers',
 'gaus',
 'gave',
 'gayromance',
 'general',
 'generous',
 'genuine',
 'geon',
 'germany',
 'gets',
 'getting',
 'geun',
 'ghost',
 'ghosthunting',
 'ghosts',
 'gi',
 'giant',
 'gifted',
 'girl',
 'girlfriend',
 'giveaway',
 'given',
 'gives',
 'giving',
 'glamorous',
 'glorification',
 'goah',
 'gods',
 'goes',
 'goguryeo',
 'gohdoo',
 'gokyung',
 'gold',
 'golden',
 'gone',
 'gonghyo',
 'gongseung',
 'gongyoo',
 'goo',
 'good',
 'gook',
 'gore',
 'goryeodynasty',
 'gotop',
 'government',
 'governmentofficial',
 'gowoo',
 'grade',
 'gradually',
 'graduate',
 'grand',
 'grandchild',
 'great',
 'greed',
 'greenhouse',
 'grew',
 'grief',
 'grim',
 'grimae',
 'grimreaper',
 'gritty',
 'grittyfantasy',
 'ground',
 'group',
 'grow',
 'grown',
 'grows',
 'guard',
 'guardian',
 'gue',
 'guest',
 'guesthouse',
 'guidance',
 'guide',
 'guides',
 'guild',
 'guilt',
 'guk',
 'gum',
 'gumiho',
 'gun',
 'gung',
 'guy',
 'gwanghae',
 'gyeo',
 'ha',
 'habyung',
 'hae',
 'hahee',
 'hair',
 'haji',
 'hajun',
 'hajung',
 'half',
 'ham',
 'han',
 'hand',
 'handa',
 'handsome',
 'hangi',
 'hanhee',
 'hanhye',
 'hani',
 'hanji',
 'hanseo',
 'hanso',
 'hansuk',
 'hanyeri',
 'happened',
 'happiness',
 'hard',
 'hardship',
 'hardworking',
 'having',
 'head',
 'headquarters',
 'heal',
 'healing',
 'heart',
 'hearted',
 'heartwarming',
 'heavenlyfantasy',
 'heavens',
 'heavily',
 ...]

In [46]:
import nltk

In [47]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [48]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [49]:
new_df['tags'][0]

'a young woman joins forces with a ufo enthusiast to investigate her boyfriend’s sudden disappearance and stumbles into a wild conspiracy. jeonyeo-been nana leedong-hwi rohdeok drama comedy mystery sci-fi&fantasy friendship investigation ufo miniseries suspense'

In [50]:
stem('a young woman joins forces with a ufo enthusiast to investigate her boyfriend’s sudden disappearance and stumbles into a wild conspiracy. jeonyeo-been nana leedong-hwi rohdeok drama comedy mystery sci-fi&fantasy friendship investigation ufo miniseries suspense')

'a young woman join forc with a ufo enthusiast to investig her boyfriend’ sudden disappear and stumbl into a wild conspiracy. jeonyeo-been nana leedong-hwi rohdeok drama comedi mysteri sci-fi&fantasi friendship investig ufo miniseri suspens'

In [51]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\HP\AppData\Local\Temp/ipykernel_6404/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [52]:
new_df

,tmdb_id,poster_img_url,name,tags
0,136699,https://image.tmdb.org/t/p/original/dspwDOosid...,Glitch,a young woman join forc with a ufo enthusiast ...
1,99966,https://image.tmdb.org/t/p/original/pTEFqAjLd5...,All of Us Are Dead,a high school becom ground zero for a zombi vi...
2,93405,https://image.tmdb.org/t/p/original/dDlEmu3EZ0...,Squid Game,hundr of cash-strap player accept a strang inv...
3,67915,https://image.tmdb.org/t/p/original/c2gon6zbqz...,Goblin,in hi quest for a bride to break hi immort cur...
4,106651,https://image.tmdb.org/t/p/original/5NYdSAnDVI...,Hellbound,"unearthli be deliv bloodi condemnations, send ..."
...,...,...,...,...
126,118931,https://image.tmdb.org/t/p/original/3fqu5NZEpN...,How to Be Thirty,“how to be thirty” will be a relat romanc cent...
127,199923,https://image.tmdb.org/t/p/original/brjI8zYGLs...,Ocean Likes Me,ocean like me' is a heal food romanc between h...
128,78011,https://image.tmdb.org/t/p/original/br5bVmklHe...,Amnok River Flows,thi drama portray the turbul life of lee mi re...
129,112486,https://image.tmdb.org/t/p/original/b7wLXWOdey...,Big Bet,a man' turbul life in the casino business. cho...
130,195743,https://image.tmdb.org/t/p/original/2xbkLAQnNF...,Recipe for Farewell,chang rae is in hi 40's. he work as a translat...

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
similarity = cosine_similarity(vectors)

In [55]:
similarity.shape

(131, 131)

In [56]:
similarity[new_df['name']=='Glitch']

array([[1.        , 0.14024818, 0.05827165, 0.15401028, 0.11810772,
        0.05415304, 0.1385685 , 0.07777138, 0.08122955, 0.13386989,
        0.13116517, 0.06898831, 0.10776318, 0.09240617, 0.02875987,
        0.03829198, 0.1282895 , 0.13366378, 0.10830607, 0.05905386,
        0.05470847, 0.0952501 , 0.04637389, 0.04843595, 0.09776474,
        0.0952501 , 0.03919309, 0.09837388, 0.07620008, 0.03704974,
        0.06160411, 0.09353047, 0.17255919, 0.14664712, 0.19050019,
        0.05905386, 0.12506108, 0.06898831, 0.03225806, 0.10369517,
        0.06670373, 0.0352235 , 0.15401028, 0.0352235 , 0.11219854,
        0.02804964, 0.07944407, 0.04388456, 0.0622171 , 0.05827165,
        0.18330889, 0.03666178, 0.06253054, 0.06263608, 0.10510605,
        0.10998534, 0.06160411, 0.02707652, 0.10369517, 0.08980265,
        0.07746935, 0.03966818, 0.0547791 , 0.07859438, 0.05528135,
        0.04525628, 0.02913583, 0.08858079, 0.11487594, 0.03035884,
        0.0862796 , 0.03456506, 0.10059909, 0.06788442, 0.07332356,
        0.0808287 , 0.04194676, 0.09107651, 0.02839809, 0.08122955,
        0.14379933, 0.11691309, 0.07121813, 0.02444119, 0.09857122,
        0.12143535, 0.06913011, 0.0222773 , 0.02913583, 0.04073065,
        0.0564445 , 0.05029955, 0.0516092 , 0.03685423, 0.07838618,
        0.03279129, 0.01842712, 0.03265551, 0.08562347, 0.13402193,
        0.0920683 , 0.1853695 , 0.13240679, 0.04120428, 0.02619813,
        0.02444119, 0.03394221, 0.02839809, 0.08295614, 0.06350006,
        0.0769737 , 0.13505322, 0.07401206, 0.03628575, 0.03745029,
        0.08740748, 0.02262814, 0.05029955, 0.08980265, 0.03807625,
        0.19050019, 0.08240856, 0.07838618, 0.05335072, 0.03055345,
        0.02804964, 0.08032193, 0.04843595, 0.06160411, 0.13068205,
        0.02210788]])

In [57]:
index = [new_df['name']=='Glitch']
similarity[index]

C:\Users\HP\AppData\Local\Temp/ipykernel_6404/2868633298.py:2: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  similarity[index]

array([[1.        , 0.14024818, 0.05827165, 0.15401028, 0.11810772,
        0.05415304, 0.1385685 , 0.07777138, 0.08122955, 0.13386989,
        0.13116517, 0.06898831, 0.10776318, 0.09240617, 0.02875987,
        0.03829198, 0.1282895 , 0.13366378, 0.10830607, 0.05905386,
        0.05470847, 0.0952501 , 0.04637389, 0.04843595, 0.09776474,
        0.0952501 , 0.03919309, 0.09837388, 0.07620008, 0.03704974,
        0.06160411, 0.09353047, 0.17255919, 0.14664712, 0.19050019,
        0.05905386, 0.12506108, 0.06898831, 0.03225806, 0.10369517,
        0.06670373, 0.0352235 , 0.15401028, 0.0352235 , 0.11219854,
        0.02804964, 0.07944407, 0.04388456, 0.0622171 , 0.05827165,
        0.18330889, 0.03666178, 0.06253054, 0.06263608, 0.10510605,
        0.10998534, 0.06160411, 0.02707652, 0.10369517, 0.08980265,
        0.07746935, 0.03966818, 0.0547791 , 0.07859438, 0.05528135,
        0.04525628, 0.02913583, 0.08858079, 0.11487594, 0.03035884,
        0.0862796 , 0.03456506, 0.10059909, 0.06788442, 0.07332356,
        0.0808287 , 0.04194676, 0.09107651, 0.02839809, 0.08122955,
        0.14379933, 0.11691309, 0.07121813, 0.02444119, 0.09857122,
        0.12143535, 0.06913011, 0.0222773 , 0.02913583, 0.04073065,
        0.0564445 , 0.05029955, 0.0516092 , 0.03685423, 0.07838618,
        0.03279129, 0.01842712, 0.03265551, 0.08562347, 0.13402193,
        0.0920683 , 0.1853695 , 0.13240679, 0.04120428, 0.02619813,
        0.02444119, 0.03394221, 0.02839809, 0.08295614, 0.06350006,
        0.0769737 , 0.13505322, 0.07401206, 0.03628575, 0.03745029,
        0.08740748, 0.02262814, 0.05029955, 0.08980265, 0.03807625,
        0.19050019, 0.08240856, 0.07838618, 0.05335072, 0.03055345,
        0.02804964, 0.08032193, 0.04843595, 0.06160411, 0.13068205,
        0.02210788]])

In [58]:
def recommend(kdrama):
    drama_index = new_df[new_df['name']== kdrama].index[0]
    distances = similarity[drama_index]
    drama_list = sorted(list(enumerate(distances)),reverse = True, key = lambda x : x[1])[1:6]
    
    for i in drama_list:
        print(new_df.iloc[i[0]]["name"])
        print(new_df.iloc[i[0]]["poster_img_url"])

In [62]:
#recommend('All of Us Are Dead')
recommend('Recipe for Farewell')
#recommend('Goblin')

Gangnam Scandal
https://image.tmdb.org/t/p/original/e8WpAvD21KYWlFJ3G7Lq1VSM2NC.jpg
Yonder
https://image.tmdb.org/t/p/original/iRbCAC0YupTtDhfIaRDhC25KtLr.jpg
Soundtrack #1
https://image.tmdb.org/t/p/original/hjp9921tF0S6duKUoScLOC5ABCc.jpg
Inspiring Generation
https://image.tmdb.org/t/p/original/5Ch5wEp8sAZC1pnUAokyMDQn62M.jpg
My Holo Love
https://image.tmdb.org/t/p/original/nLbKNyUKq6WMMoPuL712m43MVhc.jpg

In [60]:
!pip install streamlit

Requirement already satisfied: streamlit in c:\users\hp\anaconda3\lib\site-packages (1.12.0)
Requirement already satisfied: pandas>=0.21.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (1.3.4)
Requirement already satisfied: click>=7.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (8.0.3)
Requirement already satisfied: gitpython!=3.1.19 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (3.1.32)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (1.21.6)
Requirement already satisfied: altair>=3.2.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (4.2.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (8.4.0)
Requirement already satisfied: cachetools>=4.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (5.2.0)
Requirement already satisfied: pympler>=0.9 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (1.0.1)
Requirement already satisfied: python-dateutil in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: pydeck>=0.1.dev5 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (0.8.0b4)
Requirement already satisfied: validators>=0.2 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (0.20.0)
Requirement already satisfied: packaging>=14.1 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (21.0)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (4.8.1)
Requirement already satisfied: tzlocal>=1.1 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (4.2)
Requirement already satisfied: toml in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: semver in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (2.13.0)
Requirement already satisfied: protobuf<4,>=3.12 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (3.19.6)
Requirement already satisfied: typing-extensions>=3.10.0.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (4.7.1)
Requirement already satisfied: tornado>=5.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (6.1)
Requirement already satisfied: pyarrow>=4.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (10.0.0)
Requirement already satisfied: rich>=10.11.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (12.6.0)
Requirement already satisfied: blinker>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (1.5)
Requirement already satisfied: requests>=2.4 in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (2.26.0)
Requirement already satisfied: watchdog in c:\users\hp\anaconda3\lib\site-packages (from streamlit) (2.1.3)
Requirement already satisfied: entrypoints in c:\users\hp\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (0.3)
Requirement already satisfied: jsonschema>=3.0 in c:\users\hp\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (3.2.0)
Requirement already satisfied: toolz in c:\users\hp\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (0.11.1)
Requirement already satisfied: jinja2 in c:\users\hp\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click>=7.0->streamlit) (0.4.4)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\hp\anaconda3\lib\site-packages (from gitpython!=3.1.19->streamlit) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\hp\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: zipp>=0.5 in c:\users\hp\anaconda3\lib\site-packages (from importlib-metadata>=1.4->streamlit) (3.6.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\hp\anaconda3\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.0)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (68.0.0)
Requirement already satisfied: six>=1.11.0 in c:\users\hp\anaconda3\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (1.16.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\hp\anaconda3\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (21.2.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\hp\anaconda3\lib\site-packages (from packaging>=14.1->streamlit) (3.0.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.21.0->streamlit) (2021.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hp\anaconda3\lib\site-packages (from jinja2->altair>=3.2.0->streamlit) (1.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (1.26.7)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from rich>=10.11.0->streamlit) (0.9.1)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in c:\users\hp\anaconda3\lib\site-packages (from rich>=10.11.0->streamlit) (2.10.0)
Requirement already satisfied: pytz-deprecation-shim in c:\users\hp\anaconda3\lib\site-packages (from tzlocal>=1.1->streamlit) (0.1.0.post0)
Requirement already satisfied: tzdata in c:\users\hp\anaconda3\lib\site-packages (from tzlocal>=1.1->streamlit) (2022.1)
Requirement already satisfied: decorator>=3.4.0 in c:\users\hp\anaconda3\lib\site-packages (from validators>=0.2->streamlit) (5.1.0)

In [61]:
import pickle
file_path = 'C:/Users/HP/PycharmProjects/TMDB_Kdrama_recommendation/'
pickle.dump(new_df,open((file_path+'kdrama_list.pkl'),'wb'))
pickle.dump(similarity,open((file_path+'similarity.pkl'),'wb'))